.page-cover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: grey;
  opacity: 0.8;
  z-index: 2000;
}

td,
th {
  display: table-cell;
  vertical-align: middle;
}
