.page-cover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: grey;
  opacity: 0.8;
  z-index: 2000;
}

.screen-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: none;
}

td,
th {
  display: table-cell;
  vertical-align: middle;
}

.dnd-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .content-wrapper {
    padding: 100px;
    height: 100%;

    .overlay-content {
      background: rgba(255, 255, 255, 0.15);
      border: 2px dashed #ffffff;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding-left: 50px;
      padding-right: 50px;

      img {
        width: 60px;
        margin-bottom: 25px;
      }

      span {
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
        color: #ffffff;
      }
    }
  }
}

.breadcrumb-item {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.toolbar {
  // background-color: #2e6dde;
  // color: white;
  padding: 10px 15px;
  margin: auto -12px;
}
