.upload-progress-card {
  width: 500px;

  max-width: 100%;
  position: fixed !important;
  right: 5px;
  bottom: 5px;
  z-index: 1000;
  transition: all;
  transition-timing-function: ease-in;

  .upload-progress-body {
    max-height: 250px;
    overflow: auto;
  }

  .subheader {
    height: 30px;
    background: #dae0e8;
    font-size: 13px;
    line-height: 15px;
    color: #5f5353;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    .cancel-button {
      color: #2e6dde;
      cursor: pointer;
      &:hover {
        color: #dc1a1a;
      }
    }
  }

  &.minimize {
    .card-header {
      .icon-down {
        transform: rotate(180deg);
      }
    }

    .upload-progress-body {
      display: none;
    }
  }

  .card-header {
    height: 48px;
    background: #2e6dde;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    .icon-down {
      content: url('../../assets/icons/down.svg');
      cursor: pointer;
    }

    .icon-close {
      content: url('../../assets/icons/close.svg');
      cursor: pointer;
      margin-left: 20px;

      &.disabled {
        opacity: 0.5;
      }
    }
  }

  .percent {
    min-width: 22px;
    width: 22px;
    height: 22px;

    .CircularProgressbar-path {
      stroke: #2e6dde;
    }

    .CircularProgressbar-trail {
      stroke: rgba(46, 109, 222, 0.29);
    }
  }

  .list-group-item {
    display: flex;
    justify-content: space-between;
  }

  .text-ellipsis {
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon-cancel {
    width: 22px;
    height: 22px;
    cursor: pointer;
    content: url('../../assets/upload-cancel.svg');
    -webkit-mask: url('../../assets/upload-cancel.svg') no-repeat center;
    -webkit-mask-size: contain;
  }
  .icon-warning {
    width: 22px;
    height: 22px;
    cursor: pointer;
    content: url('../../assets/upload-warning.svg');
    -webkit-mask: url('../../assets/upload-warning.svg') no-repeat center;
    -webkit-mask-size: contain;
  }
  .icon-completed {
    width: 22px;
    height: 22px;
    cursor: pointer;
    content: url('../../assets/upload-completed.svg');
    -webkit-mask: url('../../assets/upload-completed.svg') no-repeat center;
    -webkit-mask-size: contain;
  }
}
